
@import "form.css";
@import "journal_entry.css";
@import "banner.css";

.container {
    display: flex;
    flex-direction: column;
}

.underTheBanner {
    display: flex;
    flex-direction: row;
}

.underTheBanner__left {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.underTheBanner__right {
    display: flex;
    flex-direction: column;
    flex: 3.75;
}
